In [ ]:
import v2fc_interface as fs
from firecloud import api as firecloud_api
%load_ext autoreload
%autoreload 2

In [2]:
paths_to_samples_info = pd.read_excel("paths_to_batches_info.xlsx")
namespace = "nci-mimoun-bi-org"
workspace = "CCLF_TSCA_2_0"
google_bucket_id = "fc-35446f22-ea37-483a-bd6c-5e9fc56851ff"

In [3]:
tsca_id = "TSCA1213"
latest_tsca_id = "TSCA22"
path_to_samples_info = "/xchip/clf/seq_data/processed_for_fh/tsca1213_201610_SN0106956/tsca1213_201610_SN0106956.import_samples.txt"

In [ ]:
### PROCESS FOR NEW BATCH
tsca_id = "TSCA1213"
latest_tsca_id = "TSCA22"
path_to_samples_info = "/xchip/clf/seq_data/processed_for_fh/tsca1213_201610_SN0106956/tsca1213_201610_SN0106956.import_samples.txt"
res = fs.upload_data_new_batch(tsca_id, latest_tsca_id, path_to_samples_info, namespace, workspace, google_bucket_id)
# res = update_cohorts(latest_tsca_id, namespace, workspace, google_bucket_id)

In [13]:
# fs.update_cohorts(latest_tsca_id, namespace, workspace, google_bucket_id)

In [33]:
remote_sample_sets = pd.read_table('remote_files/sample_set_membership_%s.tsv'%latest_tsca_id)

In [36]:
remote_sample_ids = remote_sample_sets['sample'].tolist()

In [15]:
# all_samples = fs.get_samples_with_cohort(latest_tsca_id, "paths_to_batches_info.xlsx", google_bucket_id)
# pairs = fs.create_pairs_list(all_samples)

In [26]:
all_samples = fs.get_samples_with_cohort(latest_tsca_id, "paths_to_batches_info.xlsx", google_bucket_id)
pairs = fs.create_pairs_list(all_samples)
cohort_pairsets = fs.prepare_cohort_pairsets_for_metadata_exports(latest_tsca_id, pairs, all_samples, blacklist=[])

In [43]:
cohort_pairsets.head(2)

  membership:pair_set_id                    pair_id
0              COHORT_AA  AA34-Tumor-SM-D4L25_NA_TN
1              COHORT_AA  AA34-Tumor-SM-D4L25_NA_TP

In [44]:
remote_pair_sets = pd.read_table('remote_files/pair_set_membership_%s.tsv'%latest_tsca_id)

In [ ]:
remote_pair_ids = remote_pair_sets['pair'].tolis

In [45]:
remote_pair_sets.head(2)

  membership:pair_set_id                       pair
0              COHORT_AA  AA34-Tumor-SM-D4L25_NA_TN
1              COHORT_AA  AA34-Tumor-SM-D4L25_NA_TP

In [ ]:
cohorts_clean = cohorts[~cohorts['sample_id'].isin(remote_sample_ids)]
cohort_pairsets_clean = cohort_pairsets[~cohort_pairsets['pair_id'].isin()]